.movie-details::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}
.movie-details .poster-img {
  width: 30%;
}
.movie-details .movie-content {
  width: 65%;
}

@media (max-width: 575px) {
  .movie-details-container {
    flex-direction: column !important;
    top: 14% !important;
    gap: 15%;
  }
  .movie-details .poster-img {
    width: 35%;
  }
  .movie-details .movie-content {
    width: 100%;
  }
  .overview {
    margin-top: 225px !important;
  }

  .watchlist-icon {
    width: 1.5rem !important;
  }

  .gategory {
    font-size: 0.75rem;
    padding: ".1rem .5rem";
    border: none !important;
  }
}

@media (min-width: 768px) {
  .gategory {
    font-size: 0.875rem;
  }
}
@media (min-width: 992px) {
  .gategory {
    font-size: 1rem;
  }
}
